.header {
    font-weight: bold;
    text-align: center;
}

.header2
{
    text-align: center;
}

.header3
{
    text-align: center; 
}

.image 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header4
{
    text-align: center;
}